<div>
    <div>
        <h1>יצירת קשר </h1>
        <div class="icons">
            <div>
                <p>מיקום שלנו</p>
                <img src="/assets/מיקום.jpg">
                <p>דבורה 9  קרית מוצקין</p>
            </div> 
            <div>
                <p>המייל שלנו</p>
                <img src="/assets/מייל.jpg">
                <p>eli-rubin@gmail.com</p>
            </div>
          
             <div>
                <p>הטלפון שלנו</p>
                <img src="/assets/טלפון.jpg">
                <p>0527697000</p>
            </div>
        </div>

    </div>
    

 <!-- <agm-map [latitude]="latitude"[longtitude]="longtitude" (mapClick)="onChoseLocation($event)">

 
<agm-marker [latitude]="latitude" [longtitude]="longtitude"></agm-marker>
                    </agm-map>  -->
                    <!-- <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>כתובת הכנס<mat-label/>
                        <input matInput [value]="address" (keydown.enter)="$event.pre
                        ventDefault()" matGoogleMapsAutocomplete
                        (onAutocompleteSelected)="onAutocompleteSelected($event)" (
                        onLocationSelected)="onLocationSelected($event)">
                        </mat-form-field>
                        <agm-map
                        [latitude]="lat"
                        [longitude]="lng"
                        [zoom]="zoom"
                        (mapClick)="mapClicked($event)">
                        <agm-marker
                        [markerClickable]="true"
                        [latitude]="lat"
                        [longitude]="lng">
                        </agm-marker>
                        <agm-circle
                        *ngFor="let c of circle"
                        [latitude]="c.latitude" [longitude]="c.longitude"[radius]="200"
                        [fillColor]="'red'"
                        [circleDraggable]="true"
                        [editable]="true"
                        (radiusChange)="radiusChange($event)"
                        (dragEnd)="circleDragEnd(c, $event)">
                        </agm-circle>
                        </agm-map>



</div> -->

           <!--  <div class="map">
                 #mapElement
                    </div>

<router-outlet></router-outlet>
               -->
           
       
    
            
