
  
  .allPage{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

*{
    text-align: center;
    /* direction: rtl; */
   font-weight: 700;
   font-size: 22px;
   color: #666666;
}
a{
    color: rgba(18,93,160,255)
}
p{
    margin: 30px;
    /* padding: 15px; */
}
h1{
   font-size:42px; 
   color: rgba(18,93,160,255)
}
.icons{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .icons{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    }
    
    #map {
        height: 500px;
        width: 100%;
       }
    