<div>
    <div>
        <h1>יצירת קשר </h1>
        <div class="icons">
            <div>
                <p>מיקום שלנו</p>
                <img src="/assets/מיקום.jpg">
                <p>דבורה 9  קרית מוצקין</p>
            </div> 
            <div>
                <p>המייל שלנו</p>
                <img src="/assets/מייל.jpg">
                <p>eli-rubin@gmail.com</p>
            </div>
          
             <div>
                <p>הטלפון שלנו</p>
                <img src="/assets/טלפון.jpg">
                <p>0527697000</p>
            </div>
        </div>

    </div>
    

 <agm-map [latitude]="lat"[longtitude]="lng" class="map"></agm-map>
 

 

       
    
            
