<div class="text">
    <div>
       
        <img src="/assets/חותמת ללא.png" width="400px" height="250px">
     <p style="color: rgb(46, 25, 9);">!!!מתחייבים למחירים נוחים</p>
    </div>
    <div>
        <article>
        <h1>...כמה מילים אודתינו</h1>
    </article>
    <!-- <h1> ...כמה מילים אודתינו </h1> -->
    <p>לילה לילה שמה לעצמה דגש להעניק לכם שינה נעימה יותר</p>
    <p> ונוחה יותר בכל לילה ולילה כי מגיע לכם ולכן אנחנו מוכרים מוצריים איכותיים</p>
    <p>  מעוצבים ברמה האישית עם דיוק לפרטים פריטים נוחים שילוו אתכם לשינה מושלמת     </p> 
    <p> חשוב לנו שתצאו מרוצים ותכלו לישון לילה לילה  </p>
    <p>בצורה הנוחה והנעימה לכם אתם מוזמנים אלינו להתרשמות </p>
   </div>

</div>


 
<article>
    <h1>:ממליצים עלינו </h1>
</article>
<div class="mh">

<section id="slider">
    <input type="radio" name="slider" id="slide1" checked />
    <input type="radio" name="slider" id="slide2" />
    <input type="radio" name="slider" id="slide3" />
    <input type="radio" name="slider" id="slide4" />
    <input type="radio" name="slider" id="slide5" />
   
    <div id="slides">
         <div id="active">
        <label for="slide1">1</label>
        <label for="slide2">2</label>
        <label for="slide3">3</label>
        <label for="slide4">4</label>
        <label for="slide5">5</label>
     
    </div>
        <div id="overflow">
            <div class="inner">
                <article>
                    <img src="/assets/ממליצים/בנק.jpeg" />
                </article>
                <article>
                    <img src="/assets/ממליצים/קופאית.jpeg" />
                </article>
                <article>  
                    <img src="/assets/ממליצים/משאית..jpeg" />
                </article>
                <article> 
                    <img src="/assets/ממליצים/גננת.jpeg" />
                </article>
                <article>
                  <img src="/assets/ממליצים/WhatsApp Image 2021-11-01 at 10.06.22 (1).jpeg" />
                </article>
            </div>
        </div>
    </div>
</section>   
</div>



    <div>
        <img src="/assets/‏‏לכידה.PNG"  class="image">
     </div>
     <div class="all" >
         <!-- <h1 >לילה לילה</h1> -->
       
     <div class="p">
         <p>לילה לילה  </p>
         <p>כלי מיטה ברמה גבוהה והתאמה אישית  </p>
         <p> ניתן לקנות סטים מוכנים או להתאים ספיציפית  </p>
         <p>מצעים ברמת איכות גבוהה לשינה נעימה לילה לילה </p>
     </div>
     <div>
         <p>לילה לילה  </p>
         <p> כל סוגי חדרי השינה והריהוט בעיצוב אישי בהזמנה במקום  </p> 
         <p>  ברמה גבוהה והתאמה אישית  </p>
         <p>לפי בחירת הלקוח </p>
     </div>
     <div>
         <p>לילה לילה</p>
         <p> אנחנו מציעים לכם מזרוני איכות  אורטופדיים  </p>
         <p>  ברמה גבוהה והתאמה אישית  </p>
         <p>...במחירים שתוכלו לישון בשקט</p>
        
     </div>
     </div>
     <!-- <a href="https://front.codes/" class="logo hover-target" target="_blank">
         <img src="https://assets.codepen.io/1462889/fcb.png" alt="">
     </a> -->


<!--    
<div class="section full-height over-hide px-4 px-sm-0">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-lg-10 col-xl-8 align-self-center padding-tb">
                <div class="section mx-auto text-center slider-height-padding">
                    
                      <input class="checkbox frst" type="radio" id="slide-1" name="slider" checked/>
                      <label for="slide-1"></label>
                      <input class="checkbox scnd" type="radio" name="slider" id="slider-2"/>
                      <label for="slider-2"></label>
                      <input class="checkbox thrd" type="radio" name="slider" id="slider-3"/>
                      <label for="slider-3"></label>
                      <input class="checkbox foth" type="radio" name="slider" id="slider-4"/>
                      <label for="slider-4"></label>

                    <ul>
                        <li>
                            <span>!אותו מזרון אותו איכות פחות כסף</span>
                        </li>
                        <li>
                            <span>!עם לילה לילה זה לא חלום זה מציאות</span>
                        </li>
                        <li>
                            <span>!לישון על מזרוני לילה לילה זה חופש אמיתי </span>
                        </li>
                        <li>
                            <span>!בשביל לישון טוב בלילה שווה להגיע מרחוק</span>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
    </div>
</div>
 -->





