<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ליליה ליליה|חנות מזרוני איכות</title>
</head>

<body>
  <main>
    
    <div class="d-one">
      <img src="assets/__חלון ראווה - 80-1.jpg" alt="רקע ראשי" class="imghome">
    </div>
    <div class="box">
      <div class="box-icon">
        <div class="div-center">
          <img src="/assets/שרות לקוחות.png" style="padding-left: 12px;" alt="שרות" width="50" height="46">
          <img src="/assets/שרות לקוחות.png"  style="padding-left: 12px;"alt="שרות" width="50" height="46">
        </div>
        <div class="div-center">
          <p class="textY">לשרות הלקוחות שלנו  </p>
        </div>
        <p class="textY" style="margin-left: 120px;"> התקשרו:072584965128</p>
      </div>
      <div class="box-icon">
        <div class="div-center">
          <img src="/assets/קטלוג מוצרים.png" alt="קטלוג" width="70" height="76">
          <img src="/assets/קטלוג מוצרים.png"  alt="קטלוג"width="70" height="76">
        </div>
        <div class="div-center">
          <a class="a" routerLink="categories">לקטלוג המוצרים</a>    
        </div> 
        <div class="div-center">
       <p class="textY" > מגוון מוצרים במחירים נוחים</p>
         </div>
      </div>
      <div class="box-icon">
        <div class="div-center">
          <img src="/assets/יצירת קשר.png" alt="יעוץ">
          <img src="/assets/יצירת קשר.png" alt="יעוץ">
        </div>
        <div class="div-center">
          <p class="textY">ליעוץ לפני רכישה</p>
        </div>
        <p class="textY" style="margin-left: 120px;"> התקשרו:072584965128</p>
      </div>     
    </div>
   
    <div class="section full-height over-hide px-4 px-sm-0">
      <div class="container">
          <div class="row full-height justify-content-center">
              <div class="col-lg-10 col-xl-8 align-self-center padding-tb">
                  <div class="section mx-auto text-center slider-height-padding">
                      
                        <input class="checkbox frst" type="radio" id="slide-1" name="slider" checked/>
                        <label for="slide-1"></label>
                        <input class="checkbox scnd" type="radio" name="slider" id="slider-2"/>
                        <label for="slider-2"></label>
                        <input class="checkbox thrd" type="radio" name="slider" id="slider-3"/>
                        <label for="slider-3"></label>
                        <input class="checkbox foth" type="radio" name="slider" id="slider-4"/>
                        <label for="slider-4"></label>
    
                      <ul>
                          <li>
                              <span>!אותו מזרון אותו איכות פחות כסף</span>
                          </li>
                          <li>
                              <span>!עם לילה לילה זה לא חלום זה מציאות</span>
                          </li>
                          <li>
                              <span>!לישון על מזרוני לילה לילה זה חופש אמיתי </span>
                          </li>
                          <li>
                              <span>!בשביל לישון טוב בלילה שווה להגיע מרחוק</span>
                          </li>
                      </ul>
                  </div>
              </div>
            </div>
      </div>
    </div>
    









<!-- [@photosAnimation]="photos.length" -->
 
  <div  >

    <div class="row">

      <div class="column">
        <div class="container">
                 <img src="/assets/מוצרים נלויים.jpg" data-aos="zoom-in-right" data-aos-delay="450"    data-aos-once="false" data-aos-duration="1000" alt="Forest"class="image" style="width:100%;height:384px;">
          <div class="overlay">
            <div class="text"><a routerLink="/mazaim"> כלי מיטה   </a> </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container">
        <img src="/assets/חדרי שינה (3).jpg"  data-aos="zoom-out"  data-aos-delay="450"   data-aos-once="false" data-aos-duration="1000"alt="Snow" style="width:100% ;height:384px; "  >
        <div class="overlay">
          <div class="text"> <a routerLink="/raitim"> רהיטים  </a></div>
        </div>
      </div>
      </div>
      <div class="column">
        <div class="container">
        <img src="/assets/מזרונים.jpg"  data-aos="slide-left" data-aos-delay="450"   data-aos-once="false" data-aos-duration="1000" alt="Mountains" style="width:100%; height:384px;">
        <div class="overlay"> 
          <div class="text"> <a routerLink="/mitronim">   מזרונים</a> </div>
        </div>
      </div>
      </div>
      
    </div>    
  </div>

  <div >
       
<img src="/assets/בית/xkudi).jpeg"data-aos="zoom-in"  data-aos-easing="ease-in-out-back
" data-aos-delay="450" data-aos-once="false" data-aos-duration="1000" style="width: 100%; height: auto; " >

</div>

  </main>
  <footer>
    <!-- <app-footer></app-footer> -->
  </footer>
</body>

</html>