<div class="gallery-coursol" (click)="close()">
    <div class="Image-coursol" (click)="onEvent($event)">
    <!-- <img [@slide-in]="animStata"(@slide-in.done)="AnimDone()" [src]="ArrP[animImage].Photo" > -->
    <div class="button-coursol">
        <span tabindex="1" (keyup.enter)="provies()" (click)="provies()">></span>
        <span></span>
        <span tabindex="2" (keyup.enter)="next()" (click)="next()"><</span>
    </div>
    </div>
    <span tabindex="3" (click)="close()" class="close-coursol">colse</span>
</div>
